* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 60%;
}

.content {
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    height: 1093px;


}

.bg {

    position: absolute;

}

.bg1 {
    /* width: 100%; */
    width: 100vw;
    height: 1095px;
}

.img {
    height: 9rem;
}

.img1 {
    width: 25rem;
    top: 0rem;
    position: relative;
    margin-left: 3rem;
    top: -7rem;
}

.sign_main {
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: center;


}

.sign_in_page {
    /* border: 2px solid red; */
    height: 400px;
    width: 350px;
    padding: 6rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.7rem;
    height: 55rem;
}

.sit {
    color: white;
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: 700;
}

.inputs {
    /* border: 2px solid green; */
    display: flex;
    place-items: center;
    flex-direction: column;
    margin-top: 2rem;


}

.inputs1 {
    color: white;
    width: 100%;
    height: 5rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    background-color: #4d4d4de0;
    margin-bottom: 2rem;


}

.inputerror {
    color: white;
    display: none;
}

.inputh4 {
    color: orangered;
    position: relative;
    top: -2rem;
    width: 29rem;
}

.signbtn {
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3rem;


}

::-webkit-input-placeholder {
    color: #818080;
    font-size: 1.5rem;
}

.sinbtn {
    border: 2px rgb(210, 15, 25);
    width: 100%;
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(210, 15, 25);
    border-radius: 0.4rem;
    font-size: 2.5rem;
    color: white;
    font-weight: 600;


}


.btnp {
    color: #818080;
    font-family: system-ui;
    font-weight: 500;
    font-size: 16px;
    margin-right: 1rem;
    float: right;
    margin-top: 2rem;
    width: fit-content;
}

.crn {
    /* border: 2px solid rgb(128, 0, 255); */
    width: 100%;
    height: 5rem;


}

.checkbox {
    /* border: 2px solid rgb(128, 0, 255); */
    margin-top: 3rem;
    float: left;
    width: fit-content;
}

.sire {
    color: #818080;
    font-weight: 200;
    float: left;
    margin-top: 3rem;
    margin-left: 1rem;
    font-size: 16px;

}

.info {
    /* border: 2px solid hotpink; */
    margin-top: 6rem;
    width: fit-content;
}

.infop1 {
    color: #818080;
    font-size: 1.8rem;
    font-family: sans-serif;
    font-weight: 300;
    width: fit-content;
    
}

.infop2 {
    color: hsl(0, 0%, 50%);
    font-size: 16px;
  
}

.infoa {
    color: white;
    margin-left: 13rem;
    position: relative;
    text-decoration: none;
    font-size: 2.1rem;
    top: -2.7rem;
}

.infoa1 {
    color: rgb(0, 149, 255);
    font-size: 16px;
}

/*________________________________________________________________________________________*/
.footerinfo {
    /* border: 2px solid blue; */
    height: 272px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 100px;
}

.fi2 {
    /* border: 2px solid yellow; */
    height: 70%;
    padding: 3rem;
    margin-left: 15rem;


}

.fp {
    /* border: 2px solid red; */
    color: #818080;
    font-size: 2.3rem;
}

.more_link {
    /* border: 2px solid green; */
    color: #818080;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 0.187fr);
    padding: 2rem;
    font-size: 1.9rem;
}
p:hover{
    color: rgb(0, 149, 255);
}
p{
    width: fit-content;
}

.lang {
    float: left;
    background-color: rgba(39, 32, 32, 0.344);
    height: 27px;
    width: 136px;
    justify-content: center;
    display: flex;
    border: 0.1px solid rgba(245, 245, 245, 0.333);
    border-radius: 5px;
    margin-top: 3rem;
}

.lang img {
    margin-top: 7px;
    margin-right: 12px;
    background: transparent;
}

select {
    font-size: 16px;
    font-weight: 900;
    background: transparent;
    color: white;
    font-family: "Montserrat";
    border: none;
    letter-spacing: 1px;
}

.opthin {
    border: none;
}

/*______________________________________________________________________________________
__________________________________responsive___________________________________________*/

@media only screen and (min-width: 300px) and (max-width:440px) {

    .bg1 {
        display: none;
    }

    .content {
        height: 0;
    }

    .img {
        height: 5rem;
        background-color: black;
    }

    .img1 {
        width: 13rem;
        margin-left: 1rem;
        top: -4rem;
    }

    .sign_in_page {
        width: 100%;
        background-color: rgba(0, 0, 0, 1);
        padding: 2rem;
        border-radius: 0;
    }

    .sit {
        font-size: 3rem;
    }

    .more_link {
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.3rem;
    }

    .footerinfo {
        margin-top: 0;
        background-color: rgba(0, 0, 0, 1);
    }

    .fi2 {
        margin-left: 0;
    }

    select {
        font-family: sans-serif;
        font-size: 1.2rem;
        font-weight: 100;
    }

    .lang img {
        margin-top: 3px;

    }

}

@media only screen and (min-width: 441px) and (max-width:740px) {
    .bg1 {
        display: none;
    }

    .content {
        height: 0;
    }

    .img {
        height: 10rem;
        background-color: black;
    }

    .img1 {
        width: 24rem;
        margin-left: 1rem;
        top: -8rem;
    }

    .sign_in_page {
        width: 100%;
        background-color: rgba(0, 0, 0, 1);
        padding: 2rem;
        border-radius: 0;
    }

    .sit {
        font-size: 4.5rem;
    }

    .more_link {
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.3rem;
    }

    .footerinfo {
        margin-top: 0;
        background-color: rgba(0, 0, 0, 1);
    }

    .fi2 {
        margin-left: 0;
    }

    select {
        font-family: sans-serif;
        font-size: 1.2rem;
        font-weight: 100;
    }

    .lang img {
        margin-top: 3px;

    }


}


@media only screen and (min-width: 741px) and (max-width:1300px){
    .bg1{
        height: 1095px;
        object-fit: cover;
        background-repeat: no-repeat;
    }
}

/* html {
        font-size: 50%;
    }

    .sit {
        font-size: 4.5rem;
    }

    .img1 {
        width: 23rem;
        top: -7rem;
        margin-left: 0.2rem;
    }


    .img {
        height: 8rem;
    }



    .sire {
        margin-right: 40rem;
        font-size: 1.5rem;
    }



    .infop2 {
        font-size: 2rem;
    }

    .infoa {
        font-size: 2.5rem;
    }

    .infoa1 {
        font-size: 2rem;
    }



}
 */