* {
  margin: 0px;
}

body {
  background-color: black;
}

.bg.se0nav {
  position: absolute;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.bg {
  position: relative;

}

img.bgimg {
  width: 100%;
  background-position: center;
  background-size: cover;
  min-height: 100%;
}

.sec0nav {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  position: absolute;
  top: 0%;
  height: 100%;
  z-index: 2;
  width: 100%;
  text-align: center;

}

.navbar {
  /*border: 2px solid red;*/
  position: relative;
  height: 100px;
}

.logo {
  display: flex;
  position: absolute;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: flex-start;
}

.logo img {
  margin-left: 150px;
  width: 200px;
  margin-top: -50px;
}


.navleft {
  /*border: 2px solid blue;*/
  width: 30%;
  /* position: relative; */
  float: right;
  margin-top: 30px;
  padding-right: 74px;

}


.navl {
  /*border: 2px solid yellow;*/
  padding: 2px;
  float: right;
  margin-right: 83px;
}


.navla {
  background: rgb(229, 9, 20);
  border-radius: 5px;
  height: 35px;
  width: 75px;
  font-size: 16px;
  color: rgb(255 255 255);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navla:hover {
  background: rgb(210, 15, 25);

}

a.navla {
  text-decoration: none;
}

.langimg {
  width: 16px;
  height: 16px;


}

.lang {
  float: right;
  background-color: rgba(39, 32, 32, 0.344);
  height: 27px;
  width: 136px;
  justify-content: center;
  display: flex;
  border: 0.1px solid rgba(245, 245, 245, 0.333);
  border-radius: 5px;
  margin-right: 25px;
  margin-top: 5px;
}

.lang img {
  margin-top: 7px;
  margin-right: 12px;
  background: transparent;
}

select {
  font-size: 16px;
  font-weight: 900;
  background: transparent;
  color: white;
  font-family: "Montserrat";
  border: none;
  letter-spacing: 1px;
}

.opthin {
  border: none;
}

.header0 {
  /* border: 2px solid red; */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

}


.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  background: transparent;
  justify-content: center;
  padding: 30px;
}

.header h1 {
  font-size: 59px;
  font-family: "Oswald";
  height: 97px;
  letter-spacing: 2px;
  background: transparent;
  color: white;

}

.hh2 {
  font-family: sans-serif;
  font-size: 27px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 10px;
  background: transparent;
  color: white;
}

.hh21 {
  font-family: sans-serif;
  font-size: 20px;
  color: whitesmoke;
  font-weight: 800;
  margin-top: 6px;
  background: transparent;

}

.hinput0 {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: initial;
  align-items: center;
  padding: 20px;
  justify-content: center;

}

.hinput {
  transition: color 250ms cubic-bezier(0.5, 0, 0.1, 1) 0s;
  width: 100%;
  color: transparent;
  line-height: 1.5rem;
  padding: 1.5rem 1rem 0.9rem;
  border: 0 solid transparent;
  appearance: none;
  background: transparent;
  border: 1px solid rgba(245, 245, 245, 0.333);
  width: 21rem;
  font-size: 20px;
  /* margin-left: 369px; */
  /* margin-top: 20px; */
  text-align: left;
  border-radius: 5px;
  height: 15px;

}

.hsubmit {
  width: 192px;
  height: 56px;
  /* margin-left: 750px; */
  /* margin-top: -55px; */
  cursor: pointer;
  fill: currentcolor;
  position: relative;
  background: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgba(245, 245, 245, 0.333);
  font-size: 22px;
  font-weight: inherit;
  padding: 12px 24px;
  margin-left: 20px;

}

.hsubmit:hover {
  background: rgb(210, 15, 25);


}


.sec1tv {
  position: relative;
  margin-top: -4px;
  border-top: 10px solid rgba(204, 198, 198, 0.158);
  display: flex;
  height: 550px;


}

.sec1h1 {
  color: white;
  font-size: 50px;
  font-family: cursive;
}

.sec1h4 {
  color: white;
  width: 521px;
  font-size: 22px;
  font-family: 'Montserrat';
  font-weight: 600;
  margin-top: 40px;
}

.sec1vr {
  float: right;
  /* margin-right: 225px; */
  display: flex;
  flex-direction: column;
  /* margin-top: 137px; */
  position: relative;
  width: 386px;
  margin-right: 100px;
}

.sec1tvimg {
  display: flex;
  flex-direction: column;
  /* margin-top: 60px; */
  position: absolute;
  /* margin-left: 676px; */
  background: transparent;
  width: 500px;
  margin-right: 110px;

}

.sec1font {
  /*border: 2px solid blue;*/
  display: flex;
  width: 50%;
  height: 550px;
  align-items: center;
  justify-content: center;

}

.sec1font1 {
  /*border: 2px solid yellow;*/
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.sec1vrim {
  /*border: 2px solid red;*/
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  height: 550px;


}


.sec2ph {
  /* border: 2px solid yellow; */
  border-top: 10px solid rgba(204, 198, 198, 0.158);
  position: relative;
  height: 550px;
  display: flex;
}

.sec2img {
  /*border: 2px solid rgb(255, 0, 136);*/
  width: fit-content;
  display: flex;
  height: fit-content;
  align-items: center;
}

.sec2mo {
  width: 500px;
  margin-top: -33px;

}

.sec2down1 {
  /*border: 2px solid rgb(128, 0, 0);*/
  display: flex;
  width: 50%;
  justify-content: end;
  align-items: center;
}


.sec2down2 {
  display: flex;
  align-items: baseline;

}

.sec2down {
  /* border: 2px solid orangered; */
  border: 2px solid rgba(255, 255, 255, 0.204);
  width: 270px;
  border-radius: 15px;
  position: absolute;
  background-color: black;
  height: 100px;
  margin-left: 116px;
  margin-top: 50px;
}



.bk {
  width: 61px;
  height: auto;
  margin-left: 18px;
  margin-top: 8px;
}

.sec2load {
  position: absolute;
  float: left;
  width: 49px;
  margin-left: 137px;
  margin-top: 25px;
}

.sec2p {
  color: rgb(0, 149, 255);
  margin-top: -41px;
  margin-left: 103px;
  font-size: 13px;
}

.st {
  color: white;
  font-size: 18px;
  margin-top: -44px;
  margin-left: 89px;
}


.sec2font {
  /*border: 2px solid rgb(191, 0, 255);*/
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.sec2font1 {
  /*border: 2px solid yellow;*/
  width: fit-content;
  height: fit-content;
  margin-right: 150px;
}


.sec2h1 {
  color: white;
  text-align: start;
  font-size: 54px;
  font: lowercase;
  font-family: math;
  width: 500px;

}

.sec2h2 {
  color: white;
  font-family: 'Montserrat';
  width: 331px;
  font-size: 21px;
}


.sec3all {
  border-top: 10px solid rgba(204, 198, 198, 0.158);
}


.sec32dall {
  /* border: 2px solid red;*/
  height: 550px;
  padding-top: 16px;
  text-align: start;
  display: flex;
  justify-content: center;

}

.sec3fontd {
  /* border: 2px solid blue;*/
  width: 469px;
  height: 130px;
  margin: auto;


}

.sec3h1 {
  color: white;
  font-family: sans-serif;
  font-size: 53px;


}

.sec3h3 {
  color: white;
  font-family: 'Montserrat';
  letter-spacing: 1px;
  margin-top: 21px;

}

.sec3vi {
  /* border: 2px solid orangered;*/
  width: 650px;
  display: flex;
  justify-content: start;
  margin-top: 69px;


}

.sec3vr {
  position: relative;
  width: 335px;
  margin-top: 36px;
  margin-left: 104px;
  height: fit-content;

}

.sec3mtd {
  /* border: 2px solid brown;*/
  background: transparent;
  width: 531px;
  position: absolute;

}




.sec4child {
  border-top: 10px solid rgba(204, 198, 198, 0.158);


}

.sec4all {
  /*border: 2px solid red;*/
  display: flex;
  height: 550px;

}

.sec4img {
  /*border: 2px solid yellow;*/
  width: 652px;
  position: relative;
  display: flex;


}

.sec4i {
  /*border: 2px solid green;*/
  margin-top: 85px;
  margin-left: 137px;
  position: absolute;
  width: 485px;


}

.sec4fontd {
  /*border: 2px solid blue;*/
  height: 221px;
  margin: auto;
  margin-right: 165px;
  display: flex;
  flex-direction: column;


}

.sec4h1 {
  /*border: 2px solid orangered;*/
  color: white;
  font-family: sans-serif;
  font-size: 53px;
  width: 467px;


}

.sec4h3 {
  /*border: 2px solid pink;*/
  color: white;
  font-family: 'Montserrat';
  letter-spacing: 1px;
  margin-top: 21px;
  width: 443px;


}



.sec5q {
  border-top: 10px solid rgba(204, 198, 198, 0.158);

}

.sec5q1 {
  /*border: 2px solid red;*/
  display: flex;
  flex-direction: column;
  height: 592px;
  align-items: center;
  margin-top: 55px;

}

.sec50 {
  /*border: 2px solid orangered;*/
  color: white;
  font-size: 46px;
  font-family: 'Montserrat';


}

.sec51 {
  /*border: 2px solid pink;*/
  color: white;
  font-size: 41px;
  font-family: sans-serif;
  text-align: start;
  width: 744px;
  height: 50px;
  background: #80808038;
  padding: 14px;
  margin-top: 30px;


}

.sec5btn {
  color: white;
  font-size: 46px;
  display: flex;
  margin-right: -671px;
  margin-top: -65px;
  position: relative;
  background: transparent;
  border: 1px;
}

.sec5btn:hover {
  color: rgb(0, 149, 255);
}



.sec6log {
  border-bottom: 10px solid rgba(204, 198, 198, 0.158);
  position: relative;
  margin-top: -86px;

}

.sec6log1 {
  /*border: 2px solid blue;*/
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.sec6input {
  transition: color 250ms cubic-bezier(0.5, 0, 0.1, 1) 0s;
  color: transparent;
  line-height: 1.5rem;
  padding: 1.5rem 1rem 0.9rem;
  border: 0 solid transparent;
  appearance: none;
  background: transparent;
  border: 1px solid rgba(245, 245, 245, 0.333);
  width: 20rem;
  font-size: 20px;
  margin-top: 20px;
  text-align: left;
  border-radius: 5px;
  height: 22px;

}

.sec6btn {
  width: 190px;
  height: 46px;
  cursor: pointer;
  background: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgba(245, 245, 245, 0.333);
  font-size: 22px;
  padding: 12px 24px;
  margin-top: 20px;

}

.sec6btn:hover {
  background: rgb(210, 15, 25);


}

.sec6h4 {
  color: white;
  font-size: 21px;
  font-family: sans-serif;
}




@media screen and (min-width:200px) and (max-width:600px) {


  img.bgimg {
    height: 498px;
    object-fit: cover;
  }

  .logo img {
    width: 100px;
    float: left;
    margin-left: 23px;
    margin-top: 0px;
  }

  .navbar {
    width: 100%;
    margin-top: -12px;
  }

  .lang {
    width: 49px;
    height: 31px;
    margin-right: 10px;

  }

  .lang img {
    margin-right: 5px;

  }

  select {
    display: none;
  }

  .navl {
    margin-right: -55px;

  }

  .header0 {
    /* border: 2px solid red; */
    margin-top: 25px;
    width: 100%;
    padding: 0px;
  }

  .header {
    /* border: 2px solid green; */
    width: 100%;
    padding: 35px;
  }

  .header h1 {
    /* border: 2px solid blue; */
    font-size: 32.5px;
    font-family: sans-serif;
    letter-spacing: 0px;
    width: fit-content;
    height: fit-content;
  }

  .hh2 {
    /* border: 2px solid yellow; */
    font-size: 15.5px;
    margin-top: 20px;
    font-weight: 400;
  }

  .hh21 {
    /* border: 2px solid orangered; */
    font-size: 16.5px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.6875rem;

  }

  .hinput0 {
    /* border: 2px solid red; */
    align-items: center;
    flex-direction: column;
  }

  .hinput {
    /* border: 2px solid white; */
    width: 235px;
    height: 5px;

  }

  .hsubmit {
    /* border: 2px solid grey; */
    width: 144px;
    margin-top: 20px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 1px;

  }

  
  .sec1tv {
    /* border: 2px solid yellow;  */
    margin-top: 0px;
    flex-direction: column;
    height: fit-content;
    padding: 10px;

  }

  .sec1h1 {
    /* border: 2px solid green; */
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 800;
    width: fit-content;


  }

  .sec1h4 {
    width: fit-content;
    font-size: 16px;
    margin-top: 15px;
    font-weight: 800;

  }



  .sec1font {
    /* border: 2px solid blue; */
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    padding: 30px;


  }

  .sec1font1 {
    /* border: 2px solid rebeccapurple; */
    box-sizing: border-box;
    margin-left: 0px;
    text-align: center;
    align-items: center;


  }

  .sec1vrim {
    /* border: 2px solid red; */
    width: 100%;
    height: 305px;
    align-items: flex-start;

  }

  .sec1vr {
    /* border: 2px solid cadetblue; */
    width: 245px;
    margin-right: 0px;
    margin-top: 50px;

  }

  .sec1tvimg {
    /* border: 2px solid mediumseagreen; */
    margin-left: 0px;
    width: 320px;
    margin-right: 0px;


  }

  

  .sec2ph {
    /* border: 2px solid yellow; */
    flex-direction: column-reverse;
    height: fit-content;
    padding: 10px;
  }

  .sec2down1 {
    /* border: 2px solid red; */
    flex-direction: column-reverse;
    width: 100%;

  }

  .sec2down2 {
    /* border: 2px solid green; */
    margin-top: -80px;
    margin-bottom: 30px;
  }

  .sec2down {
    /* border: 2px solid pink; */
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
    height: 60px;
    border-radius: 10px;
  }

  .bk {
    /* border: 2px solid rebeccapurple; */
    width: 30px;
  }

  .st {
    /* border: 1px solid gray; */
    margin-left: 69px;
    width: fit-content;
  }

  .sec2load {
    /* border: 2px solid white; */
    margin-top: 12px;
    width: 34px;
    margin-left: 166px;
  }

  .sec2p {
    /* border: 2px solid white; */
    margin-left: 70px;
    width: fit-content;
    margin-top: -23px;
  }

  .sec2img {
    /* border: 2px solid brown; */
  }

  .sec2mo {
    /* border: 2px solid darkcyan; */
    margin-top: 0px;
    object-fit: contain;
    width: 350px;
  }

  .sec2font {
    /* border: 2px solid blue; */
    align-items: flex-start;
    width: 100%;
    height: fit-content;

  }

  .sec2font1 {
    /* border: 2px solid grey; */
    text-align: center;
    padding: 30px;
    margin-right: 0px;
  }

  .sec2h2 {
    /* border: 2px solid skyblue; */
    font-size: 16px;
    width: fit-content;
    letter-spacing: 1px;
    margin-top: 10px;
  }

  .sec2h1 {
    /* border: 2px solid skin coral; */
    font-size: 32.5px;
    font-family: sans-serif;
    width: fit-content;
    text-align: center;
    font-weight: 800;
  }

  
  .sec3all {
    /* border: 2px solid yellow; */
    margin-top: 28px;
    padding: 10px;


  }

  .sec32dall {
    /* border: 2px solid green; */
    flex-direction: column;
    padding-top: 0px;
    height: fit-content;
    text-align: center;
  }

  .sec3fontd {
    /* border: 2px solid red; */
    width: fit-content;
    margin: 0px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding: 30px;

  }

  .sec3h1 {
    /* border: 2px solid pink; */
    height: fit-content;
    font-size: 32.5px;

  }

  .sec3h3 {
    /* border: 2px solid dark pink; */
    margin: 11px;
    font-size: 16px;

  }

  .sec3vi {
    /* border: 2px solid blue; */
    margin: 0px;
    width: 100%;
    height: 320px;
    align-items: center;
    justify-content: center;

  }

  .sec3vr {
    /* border: 2px solid blueviolet; */
    width: 223px;
    margin-left: 0px;
    margin-top: -92px;

  }

  .sec3mtd {
    /* border: 2px solid rgb(0, 251, 255); */
    width: 350px;

  }


  
  .sec4child {
    /* border: 2px solid yellow; */
    padding: 10px;
  }

  .sec4all {
    /* border: 2px solid rebeccapurple; */
    flex-direction: column-reverse;

  }

  .sec4img {
    /* border: 2px solid red; */
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;

  }

  .sec4i {
    /* border: 2px solid oldlace; */
    margin-top: 0px;
    width: 330px;
    margin-left: 0px;

  }

  .sec4fontd {
    /* border: 2px solid blue; */
    margin: 0px;
    height: fit-content;
    padding: 30px;

  }

  .sec4h1 {
    /* border: 2px solid pink; */
    font-size: 32.5px;
    font-weight: 800;
    width: fit-content;
    text-align: center;

  }

  .sec4h3 {
    /* border: 2px solid pink; */
    font-size: 16px;
    font-family: sans-serif;
    width: fit-content;
    text-align: center;

  }

  


  .sec5q {
    /* border: 2px solid yellow; */
    padding: 10px;
    padding-top: 50px;
  }

  .sec5q1 {
    /* border: 2px solid red; */
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: fit-content;


  }

  .sec50 {
    /* border: 2px solid green; */
    font-size: 22px;

  }

  .sec51 {
    /* border: 2px solid blue; */
    width: 269px;
    font-size: 20px;

  }

  .sec5btn {
    /* border: 2px solid pink; */
    margin-top: -70px;
    margin-left: -417px;
    justify-content: center;
    align-items: center;

  }

  

  .sec6log {
    /* border: 2px solid yellow; */
    padding: 10px;
    margin-top: 44px;

  }

  .sec6log1 {
    /* border: 2px solid red; */
    margin-bottom: 0px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;


  }

  .sec6h4 {
    /* border: 2px solid green; */
    margin-left: 0px;
    font-size: 16px;
    text-align: center;

  }

  .sec6input {
    /* border: 2px solid white; */
    margin-left: 0px;
    height: 0px;
    width: 211px;

  }

  .sec6btn {
    /* border: 2px solid pink; */
    margin-left: 0px;
    margin-top: 12px;
    width: 171px;
  }






}




@media screen and (min-width:601px) and (max-width:958px){



  img.bgimg {
    height: 498px;
    object-fit: cover;
  }

  .logo img {
    width: 100px;
    float: left;
    margin-left: 23px;
    margin-top: 0px;
  }

  .navbar {
    width: 100%;
    margin-top: -12px;
  }

  .lang {
    width: 116px;
    height: 31px;
    margin-right: 10px;

  }

  .lang img {
    margin-right: 5px;

  }

  .navl {
    margin-right: -55px;

  }

  .header0 {
    /* border: 2px solid red; */
    margin-top: 25px;
    width: 100%;
    padding: 0px;
  }

  .header {
    /* border: 2px solid green; */
    width: 100%;
    padding: 35px;
    align-items: center;
    justify-content: center;
  }

  .header h1 {
    /* border: 2px solid blue; */
    padding: 20px;
    font-size: 30.5px;
    font-family: sans-serif;
    letter-spacing: 0px;
    width: fit-content;
    height: fit-content;
  }

  .hh2 {
    /* border: 2px solid yellow; */
    font-size: 18.5px;
    margin-top: 20px;
    font-weight: 400;
  }

  .hh21 {
    /* border: 2px solid orangered; */
    font-size: 18.5px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.6875rem;

  }

  .hinput0 {
    /* border: 2px solid red; */
    align-items: center;
  }

  .hinput {
    /* border: 2px solid white; */
    width: 300px;
    height: 16px;

  }

  .hsubmit {
    /* border: 2px solid grey; */
    width: 163px;
    height: 58px;
    font-size: 20px;
    font-weight: bold;
    padding: 1px;

  }




  /*_____________________________________________________________________________
  _______________________________SEC1TV  RESPONSIVE tablet_______________________________*/

  .sec1tv {
    /* border: 2px solid yellow;  */
    margin-top: 0px;
    flex-direction: column;
    height: fit-content;
    padding: 10px;

  }

  .sec1h1 {
    /* border: 2px solid green; */
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 800;
    width: fit-content;


  }

  .sec1h4 {
    width: fit-content;
    font-size: 16px;
    margin-top: 15px;
    font-weight: 800;

  }



  .sec1font {
    /* border: 2px solid blue; */
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    padding: 30px;


  }

  .sec1font1 {
    /* border: 2px solid rebeccapurple; */
    box-sizing: border-box;
    margin-left: 0px;
    text-align: center;
    align-items: center;


  }

  .sec1vrim {
    /* border: 2px solid red; */
    width: 100%;
    height: 305px;
    align-items: flex-start;

  }

  .sec1vr {
    /* border: 2px solid cadetblue; */
    width: 289px;
    margin-right: 0px;
    margin-top: 60px;

  }

  .sec1tvimg {
    /* border: 2px solid mediumseagreen; */
    margin-left: 0px;
    width: 395px;
    margin-right: 0px;


  }




  


  .sec2ph {
    /* border: 2px solid yellow; */
    flex-direction: column-reverse;
    height: fit-content;
    padding-bottom: 50px;
  }

  .sec2down1 {
    /* border: 2px solid red; */
    flex-direction: column-reverse;
    width: 100%;

  }

  .sec2down2 {
    /* border: 2px solid green; */
    margin-top: -80px;
    margin-bottom: 30px;
  }

  .sec2down {
    /* border: 2px solid pink; */
    margin-top: -18px;
    margin-left: 0px;
    position: relative;
    height: 70px;
    border-radius: 10px;
  }

  .bk {
    /* border: 2px solid rebeccapurple; */
    width: 40px;
  }

  .st {
    /* border: 1px solid gray; */
    margin-left: 69px;
    width: fit-content;
  }

  .sec2load {
    /* border: 2px solid white; */
    margin-top: 12px;
    width: 46px;
    margin-left: 156px;
  }

  .sec2p {
    /* border: 2px solid white; */
    margin-left: 70px;
    width: fit-content;
    margin-top: -23px;
  }

  .sec2img {
    /* border: 2px solid brown; */
  }

  .sec2mo {
    /* border: 2px solid darkcyan; */
    object-fit: contain;
    width: 450px;
  }

  .sec2font {
    /* border: 2px solid blue; */
    align-items: flex-start;
    width: 100%;
    height: fit-content;

  }

  .sec2font1 {
    /* border: 2px solid grey; */
    text-align: center;
    padding: 30px;
    margin-right: 0px;
  }

  .sec2h2 {
    /* border: 2px solid skyblue; */
    font-size: 16px;
    width: fit-content;
    letter-spacing: 1px;
    margin-top: 10px;
  }

  .sec2h1 {
    /* border: 2px solid skin coral; */
    font-size: 32.5px;
    font-family: sans-serif;
    width: fit-content;
    text-align: center;
    font-weight: 800;
  }





  

  .sec3all {
    /* border: 2px solid yellow; */
    margin-top: 28px;
    padding: 10px;


  }

  .sec32dall {
    /* border: 2px solid green; */
    flex-direction: column;
    padding-top: 0px;
    height: fit-content;
    text-align: center;
  }

  .sec3fontd {
    /* border: 2px solid red; */
    width: fit-content;
    margin: 0px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding: 30px;

  }

  .sec3h1 {
    /* border: 2px solid pink; */
    height: fit-content;
    font-size: 32.5px;

  }

  .sec3h3 {
    /* border: 2px solid dark pink; */
    margin: 11px;
    font-size: 16px;

  }

  .sec3vi {
    /* border: 2px solid blue; */
    margin: 0px;
    width: 100%;
    height: 320px;
    align-items: center;
    justify-content: center;

  }

  .sec3vr {
    /* border: 2px solid blueviolet; */
    width: 297px;
    margin-left: 0px;
    margin-top: -127px;

  }

  .sec3mtd {
    /* border: 2px solid rgb(0, 251, 255); */
    width: 480px;

  }


  
  .sec4child {
    /* border: 2px solid yellow; */
    padding: 10px;
  }

  .sec4all {
    /* border: 2px solid rebeccapurple; */
    flex-direction: column-reverse;

  }

  .sec4img {
    /* border: 2px solid red; */
    width: 100%;
    height: 405px;
    align-items: center;
    justify-content: center;

  }

  .sec4i {
    /* border: 2px solid oldlace; */
    margin-top: 0px;
    width: 450px;
    margin-left: 0px;

  }

  .sec4fontd {
    /* border: 2px solid blue; */
    margin: 0px;
    height: fit-content;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .sec4h1 {
    /* border: 2px solid pink; */
    font-size: 32.5px;
    font-weight: 800;
    width: fit-content;
    text-align: center;

  }

  .sec4h3 {
    /* border: 2px solid pink; */
    font-size: 16px;
    text-align: center;

  }


  


  .sec5q {
    /* border: 2px solid yellow; */
    padding: 10px;
    padding-top: 50px;
  }

  .sec5q1 {
    /* border: 2px solid red; */
    margin-top: 0px;
    height: fit-content;
    align-items: center;
    justify-content: center;


  }

  .sec50 {
    /* border: 2px solid green; */
    font-size: 35px;
    

  }

  .sec51 {
    /* border: 2px solid blue; */
    width: 440px;
    font-size: 25px;

  }

  .sec5btn {
    /* border: 2px solid pink; */
    margin-top: -70px;
    margin-left: -271px;
    justify-content: center;
    align-items: center;

  }


  


  .sec6log {
    /* border: 2px solid yellow; */
    padding: 10px;
    margin-top: 44px;

  }

  .sec6log1 {
    /* border: 2px solid red; */
    margin-bottom: 0px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;


  }

  .sec6h4 {
    /* border: 2px solid green; */
    margin-left: 0px;
    font-size: 16px;
    text-align: center;

  }

  .sec6input {
    /* border: 2px solid white; */
    margin-left: 0px;
    height: 16px;
    width: 300px;

  }

  .sec6btn {
    /* border: 2px solid pink; */
    margin-left: 0px;
    margin-top: 12px;
    width: 171px;
  }












}


@media screen and (min-width:959px) and (max-width:1279px){




  img.bgimg {
    height: 570px;
    object-fit: cover;
  }

  .logo img {
    float: left;
    margin-left: 26px;
    margin-top: -26px;
    width: 150px;
  }

  .navbar {
    width: 100%;
    margin-top: -12px;
  }

  .lang {
    width: 116px;
    height: 31px;
    margin-right: 10px;

  }

  .lang img {
    margin-right: 5px;

  }
  .navleft{
    /* border: 2px solid red; */
    width: fit-content;
  }

  .navl {
    margin-right: -55px;

  }

  .header0 {
    /* border: 2px solid red; */
    margin-top: 80px;
    width: 100%;
    padding: 0px;
  }

  .header {
    /* border: 2px solid green; */
    width: 100%;
    padding: 35px;
    align-items: center;
    justify-content: center;
  }

  .header h1 {
    /* border: 2px solid blue; */
    padding: 20px;
    font-size: 32.5px;
    font-family: sans-serif;
    letter-spacing: 0px;
    width: fit-content;
    height: fit-content;
  }

  .hh2 {
    /* border: 2px solid yellow; */
    font-size: 22.5px;
    margin-top: 20px;
    font-weight: 400;
  }

  .hh21 {
    /* border: 2px solid orangered; */
    font-size: 22.5px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.6875rem;

  }

  .hinput0 {
    /* border: 2px solid red; */
    align-items: center;
  }

  .hinput {
    /* border: 2px solid white; */
    width: 325px;
    height: 22px;

  }

  .hsubmit {
    /* border: 2px solid grey; */
    width: 163px;
    height: 58px;
    font-size: 20px;
    font-weight: bold;
    padding: 1px;

  }




  
  .sec1tv {
    /* border: 2px solid yellow;  */
    margin-top: 0px;
    flex-direction: column;
    height: fit-content;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;

  }

  .sec1h1 {
    /* border: 2px solid green; */
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 800;
    width: fit-content;


  }

  .sec1h4 {
    width: fit-content;
    font-size: 21px;
    margin-top: 15px;
    font-weight: 800;

  }



  .sec1font {
    /* border: 2px solid blue; */
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    padding: 30px;


  }

  .sec1font1 {
    /* border: 2px solid rebeccapurple; */
    box-sizing: border-box;
    margin-left: 0px;
    text-align: center;
    align-items: center;


  }

  .sec1vrim {
    /* border: 2px solid red; */
    width: 100%;
    align-items: flex-start;

  }

  .sec1vr {
    /* border: 2px solid cadetblue; */
    width: 459px;
    margin-right: 0px;
    margin-top: 91px;

  }

  .sec1tvimg {
    /* border: 2px solid mediumseagreen; */
    margin-left: 0px;
    width: 613px;
    margin-right: 0px;


  }





  .sec2ph {
    /* border: 2px solid yellow; */
    flex-direction: column-reverse;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 70px;
  }

  .sec2down1 {
    /* border: 2px solid red; */
    flex-direction: column-reverse;
    width: 100%;

  }

  .sec2down2 {
    /* border: 2px solid green; */
    margin-top: -80px;
    margin-bottom: 30px;
  }

  .sec2down {
    /* border: 2px solid pink; */
    margin-top: -50px;
    margin-left: 0px;
    position: relative;
    height: 83px;
    border-radius: 10px;
    width: 411px;
  }

  .bk {
    /* border: 2px solid rebeccapurple; */
    width: 49px;
  }

  .st {
    /* border: 1px solid gray; */
    margin-left: 113px;
    width: fit-content;
    margin-top: -50px;
  }

  .sec2load {
    /* border: 2px solid white; */
    margin-top: 12px;
    width: 61px;
    margin-left: 255px;
}
  

  .sec2p {
    /* border: 2px solid white; */
    margin-left: 114px;
    width: fit-content;
    margin-top: -28px;
    font-size: 15px;
  }
  

  .sec2mo {
    /* border: 2px solid darkcyan; */
    object-fit: contain;
    width: 655px;
  }

  .sec2font {
    /* border: 2px solid blue; */
    align-items: flex-start;
    width: 100%;
    height: fit-content;

  }

  .sec2font1 {
    /* border: 2px solid grey; */
    text-align: center;
    padding: 30px;
    margin-right: 0px;
  }

  .sec2h2 {
    /* border: 2px solid skyblue; */
    font-size: 21px;
    width: fit-content;
    letter-spacing: 1px;
    margin-top: 10px;
  }

  .sec2h1 {
    /* border: 2px solid skin coral; */
    font-size: 40.5px;
    font-family: sans-serif;
    width: fit-content;
    text-align: center;
    font-weight: 800;
  }





  

  .sec3all {
    /* border: 2px solid yellow; */
    margin-top: 28px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;


  }

  .sec32dall {
    /* border: 2px solid green; */
    flex-direction: column;
    padding-top: 0px;
    height: fit-content;
    text-align: center;
  }

  .sec3fontd {
    /* border: 2px solid red; */
    width: fit-content;
    margin: 0px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding: 30px;

  }

  .sec3h1 {
    /* border: 2px solid pink; */
    height: fit-content;
    font-size: 40.5px;

  }

  .sec3h3 {
    /* border: 2px solid dark pink; */
    margin: 11px;
    font-size: 21px;

  }

  .sec3vi {
    /* border: 2px solid blue; */
    margin: 0px;
    width: 100%;
    height: 481px;
    align-items: center;
    justify-content: center;

  }

  .sec3vr {
    /* border: 2px solid blueviolet; */
    width: 395px;
    margin-left: 0px;
    margin-top: -174px;

  }

  .sec3mtd {
    /* border: 2px solid rgb(0, 251, 255); */
    width: 640px;
  }


  
  .sec4child {
    /* border: 2px solid yellow; */
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .sec4all {
    /* border: 2px solid rebeccapurple; */
    flex-direction: column-reverse;
    height: fit-content;

  }

  .sec4img {
    /* border: 2px solid red; */
    width: 100%;
    height: 460px;
    align-items: center;
    justify-content: center;

  }

  .sec4i {
    /* border: 2px solid oldlace; */
    margin-top: 0px;
    width: 570px;
    margin-left: 0px;

  }

  .sec4fontd {
    /* border: 2px solid blue; */
    margin: 0px;
    height: fit-content;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .sec4h1 {
    /* border: 2px solid pink; */
    font-size: 40.5px;
    font-weight: 800;
    width: fit-content;
    text-align: center;

  }

  .sec4h3 {
    /* border: 2px solid pink; */
    font-size: 21px;
    text-align: center;

  }


  


  .sec5q {
    /* border: 2px solid yellow; */
    padding: 10px;
    padding-top: 50px;
  }

  .sec5q1 {
    /* border: 2px solid red; */
    margin-top: 0px;
    height: fit-content;
    align-items: center;
    justify-content: center;


  }

  .sec51 {
    /* border: 2px solid blue; */
    width: 620px;
    font-size: 30px;

  }

  .sec5btn {
    /* border: 2px solid pink; */
    margin-top: -70px;
    margin-left: -87px;
    justify-content: center;
    align-items: center;

  }


  


  .sec6log {
    /* border: 2px solid yellow; */
    padding: 10px;
    margin-top: 44px;

  }

  .sec6log1 {
    /* border: 2px solid red; */
    margin-bottom: 0px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;


  }

  .sec6h4 {
    /* border: 2px solid green; */
    margin-left: 0px;
    font-size: 21px;
    text-align: center;

  }

  .sec6input {
    /* border: 2px solid white; */
    margin-left: 0px;
    height: 16px;
    width: 422px;

  }

  .sec6btn {
    /* border: 2px solid pink; */
    margin-left: 0px;
    margin-top: 12px;
    width: 171px;
  }



}






